<p id="notice"><%= notice %></p>

<h1>Listing Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Highest degree</th>
      <th>Specialization</th>
      <th>Marks</th>
      <th>Total experience</th>
      <th>Work summary</th>
      <th>Work gap</th>
      <th>Education gap</th>
      <th>Mobile</th>
      <th>Linkedin</th>
      <th>Stackoverflow</th>
      <th>Github</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.highest_degree %></td>
        <td><%= candidate.specialization %></td>
        <td><%= candidate.marks %></td>
        <td><%= candidate.total_experience %></td>
        <td><%= candidate.work_summary %></td>
        <td><%= candidate.work_gap %></td>
        <td><%= candidate.education_gap %></td>
        <td><%= candidate.mobile %></td>
        <td><%= candidate.linkedin %></td>
        <td><%= candidate.stackoverflow %></td>
        <td><%= candidate.github %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
